<%- include('partials/header'); %>
  <%- include('partials/navbar') %> 
  <div class="container">
    <div class="row">
      <div class="col-7 mx-auto">
        <form action="/update/<%= password._id %>" method="post">
          <div class="my-2">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" placeholder="<%= password.title %>" required/>
          </div>
          <div class="mb-2">
            <label for="website">Website</label>
            <input type="text" class="form-control" name="website" placeholder="<%= password.website %>" required/>
          </div>
          <div class="mb-3">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="<%= password.password %>" class="form-control" required/>
          </div>
          <button class="btn btn-primary" type="submit">Save ></button>
        </form>
      </div>
    </div>
  </div>
<%- include('partials/footer'); %>